
    /* Style général */
    body {
        margin: 0;
        padding: 0;
        justify-content: center;
    }   
    h1 {
        font-size: 4vw;
    }   
    /* Mode clair */
    .light-mode {
        background-color: #f0f0f0;
        color: #333;
    }   
    /* Mode sombre */
    .dark-mode {
        background-color: #333;
        color: #f0f0f0;
    }   
    .connection{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 20vh;
    }

    main {
        display: flex;
        justify-content: space-between;
    }

    .navbar{
        position: fixed;
        left: 21.4vw;
        background-color: red;
        width: 4vw;
        height: 100vh;
    }

    button {
        all: unset;
        /* Supprime tous les styles hérités et par défaut */
        display: inline-block; 
        cursor: pointer; /* Rétablit le curseur en forme de main */
        color: #333;
    }

    a{
        color: black; /* Utilise la couleur du texte parent */
        text-decoration: none; /* Supprime le soulignement */
        cursor: pointer; /* Maintient le curseur en forme de main */
    }

    /* CONTAINER CARD */

    /* Style de la zone de listing */
    .listing-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        padding: 20px;
        width: 100%;
        margin-left: 23vw;
    }

    /* CARD CHAMPION */ 
    .card {
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 10px;
        width: 200px;
        height: 190px;
        padding: 10px;
        text-align: center;
        background-color: #f9f9f9;
        font-family: Arial, sans-serif;
    }
    .card h2 {
        margin-top: 0;
        font-size: 24px;
        color: #333;
    }
    .card p {
        margin: 5px 0;
        font-size: 16px;
        color: #666;
    }
    .card .stat {
        font-weight: bold;
        color: #444;
    }
    .card .stat-value {
        color: #007BFF;
    }

    .btn_zone{

    }



    /* LEFT ZONE */

    .admin-container, .player-container {
        padding: 20px;
        height: 200px;
        display: flex;
        justify-content: center;
        background-color: aquamarine;
        width: 21vw;
        height: 100vh;
        position: fixed;
    }

