
    /* Style général */
    body {
        margin: 0;
        padding: 0;
        justify-content: center;
    }   
    h1 {
        font-size: 4vw;
    }   
    /* Mode clair */
    .light-mode {
        background-color: #f0f0f0;
        color: #333;
    }   
    /* Mode sombre */
    .dark-mode {
        background-color: #333;
        color: #f0f0f0;
    }   
    .connection{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 20vh;
    }
    /* CONTAINER CARD */

    /* Style de la zone de listing */
    .listing-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        padding: 20px;
    }

    /* Style de chaque card dans le listing */
    .listing-container .card {
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 300px;
        text-align: center;
        font-family: Arial, sans-serif;
    }

    .listing-container .card h2 {
        margin-top: 0;
        font-size: 24px;
        color: #333;
    }

    .listing-container .card p {
        margin: 5px 0;
        font-size: 16px;
        color: #666;
    }

    .listing-container .card .stat {
        font-weight: bold;
        color: #444;
    }

    .listing-container .card .stat-value {
        color: #007BFF;
    }

    /* CARD CHAMPION */ 
    .card {
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 10px;
        width: 300px;
        background-color: #f9f9f9;
        font-family: Arial, sans-serif;
    }
    .card h2 {
        margin-top: 0;
        font-size: 24px;
        color: #333;
    }
    .card p {
        margin: 5px 0;
        font-size: 16px;
        color: #666;
    }
    .card .stat {
        font-weight: bold;
        color: #444;
    }
    .card .stat-value {
        color: #007BFF;
    }
